#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: gray;
    display: none;
}

#list-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#qty-list,
#product-list {
    list-style: none;
}